.DS_Store
.idea/
.vscode/
.envrc
.env.release
.release_notes.md
*.spkg
/sf-data
/firehose-data
/sf.yaml
/fireeth
/dist
/rpc-cache
/localdata
*~
/devel/bsc-local/rpc-cache/
/devel/bsc-local/outputs/
/devel/eth-local/rpc-cache/
/devel/eth-local/outputs/
/build