.DS_Store
.idea/
.vscode/
.envrc
*.spkg
/sf-data
/sf.yaml
/sfeth
/dist
/rpc-cache
/localdata
*~
/devel/bsc-local/rpc-cache/
/devel/bsc-local/outputs/
/devel/eth-local/rpc-cache/
/devel/eth-local/outputs/
